server:
  port: 8888
spring:
  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_GIT_URI:https://github.com/yashash99/spring-microservice}
          searchPaths: configs
          default-label: master

